dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
stack.yaml.lock
.HTF/
.ghc.environment.*

/_shake/
/_build/
/stack.yaml.lock

/h2048.cabal
